body {
    background-image: url("/static/higher-res-images/highreswoodgrain.jpg");
    background-size: cover;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a { 
 text-decoration: none;
 color: black;
 transition: .5s;  
}

a:hover { 
 color: #90332D;
 font-weight: 500;   
}

.white-heading { 
    color:white;
    margin: 0;
    padding: .75rem;
    text-transform: uppercase;
    font-weight: 400;
}

.container { 
    padding:3rem;
    position: relative;
    max-width: 1000px;
    margin: 0px auto;
    background-color: white;
}

/* HEADER START  */


.sign-in { 
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background-color: #bebebe;
    width: 75px;
    padding: 1rem;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    margin-right: 1.5rem;
}

.sign-in a { 
    color: white;
}
.word-print-banner { 
    margin: 2rem;
}
.word-print-banner img{ 
    max-width: 75%;
}
/* NAVIGATION START */

nav { 
    border-style: solid;
    border-width: 2px 0;
}

nav ul{ 
    list-style-type: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;  
    
}

nav a { 
    text-transform: uppercase; 
}

.nav-divider { 
    color: rgb(192, 192, 192);
}
@media only screen and (min-width:600px){ 
    .row { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (max-width:600px) {
    nav ul { 
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
    .nav-divider { 
        display: none;
    }

}
/* NAVIGATION END */
/* HEADER END */

/* FOOTER BEGIN */

footer ul {
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}

footer hr {
    width: 100%;
    border: solid 1px black;
    margin: 0
}

.foot-row {
    margin: 0 20%
}

.footer { 

}

/* FOOTER END */


/* UTILITIES BEGIN */ 



/* UTILITIES END */

/* MAIN SECTIONS BEGIN */
.content-side-wrapper { 
    margin: 1.6rem 0;
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
    
}

.sidebar { 
    background-image: linear-gradient(#90332D,#7b1912) ;
    border-radius: .2rem;
    flex-basis: 20rem;
    flex-grow: 1;
    color: white;
    padding: 1rem;
}



.sidebar-list { 
    list-style-type: none;
    padding: 0;
    color: white;
}

.sidebar-list li { 
    margin: 2rem 0;
}
.sidebar-list li a { 
    color: white;
}

.content { 
    padding: .5rem 1.5rem 1.5rem 1.5rem;
    flex-basis: 0;
    flex-grow: 999; 
    min-inline-size: 50%;  
}

.title-heading { 
    font-weight: 700;
    background-color: #7b1912;
    border-radius: .75rem;
    margin: 1rem;
}

.page-title{ 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width:100%;
    height: 150px;
    background-image: url(/static/higher-res-images/attorneyspagetitleimage.jpg);
    background-size: cover;
    background-position: 50%;
    outline-style: double;
    outline-width: .5rem;
}

/* MAIN SECTIONS END/*

/*PAGE SPECTIFIC BEGIN */

.attorneys-grid { 
    display: flex; 
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;

}

.attorney-card { 
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center; 

}

.attorney-card ul { 
    list-style-type: none;
    padding: 0;
}


