body {
    background-image: url("/static/higher-res-images/highreswoodgrain.jpg");
    background-size: cover;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    padding: 3rem;
    position: relative;
    max-width: 1000px;
    margin: 0px auto;
    background-color: white;
}

/* HEADER BEGIN */

.sign-in {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background-color: #bebebe;
    width: 75px;
    padding: 1rem;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    margin-right: 1.5rem;
}

.sign-in a {
    color: white;
}

.word-print-banner {
    margin: 2rem;
}

.word-print-banner img {
    max-width: 75%;
}

/* HEADER END */

/* NAVIGATION START */

nav {
    border-style: solid;
    border-width: 2px 0;
}

nav ul {
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
}

nav a {
    text-transform: uppercase;
}

.nav-divider {
    color: rgb(192, 192, 192);
}

/* NAVIGATION END */

/* MAIN BEGIN */

main hr {
    width: 100%;
    color: white;
}

main div.row {
    margin: 1rem;
}

#sidebar-news {
    padding: 1rem;
}

#col-1 {
    justify-content: flex-start;
    max-width: 75%;
    justify-content: space-between;
    align-items: center;
}

#col-2 {
    justify-content: flex-start;
    max-width: 25%;
    justify-content: space-between;
    align-items: center;
}

/* MAIN END */

/* FOOTER BEGIN */

footer ul {
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}

footer hr {
    width: 100%;
    border: solid 1px black;
    margin: 0;
}

.foot-row {
    margin: 0 20%;
}

/* FOOTER END */

/* UTILITIES */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.content-side-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.sidebar {
    background-color: #90332d;
    color: white;
    flex-basis: 20rem;
    flex-grow: 1;
}

.content {
    background-color: aquamarine;
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.img-fluid {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/* @media only screen and (max-width: 600px) {
    .content-side-wrapper { 
        flex-wrap: wrap;
    }
    
} */

.page-title {
    max-width: 60%;
}

.page-title img {
    width: 75%;
}

/* h2 { 
    
} */

/* h3 { 
    
} */

a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover {
    color: #90332d;
    font-weight: 500;
}

/* 
.img-grid{ 
    
} */
/* 
.flex-row { 

} */